<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mariamormotsadze.gigakhizanishvili.messengerapp">

<!--    Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".MessengerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MessengerApp">
        <activity android:name="mariamormotsadze.gigakhizanishvili.messengerapp.pages.chat.ChatActivity"></activity>
        <activity android:name="mariamormotsadze.gigakhizanishvili.messengerapp.pages.search_users.UsersSearchActivity" />
        <activity android:name="mariamormotsadze.gigakhizanishvili.messengerapp.pages.home_page.HomePageActivity" />
        <activity android:name="mariamormotsadze.gigakhizanishvili.messengerapp.pages.sign_in.SignUpActivity" />
        <activity android:name="mariamormotsadze.gigakhizanishvili.messengerapp.pages.sign_in.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>